<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842866677075-7rg35g9qbfeqfb0a63dag7t2c9tkp46j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842866677075-7rg35g9qbfeqfb0a63dag7t2c9tkp46j</string>
	<key>API_KEY</key>
	<string>AIzaSyCb3lWM5xc4COPIX8rtv1jhRLh2WSxv018</string>
	<key>GCM_SENDER_ID</key>
	<string>842866677075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-7bf56</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-7bf56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842866677075:ios:e20a53a728e4458fe2fda6</string>
</dict>
</plist>